@page "/Login"
    <u>
    <h3>Авторизация</h3>
    </u>
    <body>
        <div class="LogPage">
            <br>
            <ruby>Логин:</ruby>
            <input type="text" id="registor" name="login" required size="10"><br><br>
            <ruby>Пароль:</ruby>
            <input type="text" id="registor" name="password" required size="10"><br><br>
        </div>
        <div class="button">
            <button>Войти</button>
        </div>

        <style>
        .LogPage {
            font-size:15px;
            margin-bottom:8px;
            font-weight:bolder;
        }
    </style>
    </body>


@code {
}
