@page "/MainPage"
<h3>Главная страница</h3>
    <div class="Registration">
        <a href="/Registraion" style="color:black">Регистрация</a>
    </div>
    <div class="Login">
        <a href="/Login" style="color:black">Авторизация</a>
    </div>

    <style>
        .Registration {
            font-size:25px;
            margin-bottom:8px;
        }
        .Login {
            font-size:25px;
            margin-bottom:8px;
        }
    </style>
    
@code {

}
