@page "/Registraion"
    <u>
    <h3>Регистрация</h3>
    </u>
    <body>
        <div class="RegPage">
            <br>
            <ruby>Логин:</ruby>
            <input type="text" id="login" name="login" required size="10"><br><br>
            <ruby>Пароль:</ruby>
            <input type="text" id="password" name="password" required size="10"><br><br>
            <ruby>Повторите пароль:</ruby>
            <input type="text" id="reppassword" name="reppassword" required size="10"><br><br>
            <ruby>Имя:</ruby>
            <input type="text" id="name" name="name" required size="10"><br><br>
            <ruby>Фамилия:</ruby>
            <input type="text" id="lastame" name="lastame" required size="10"><br><br>
            <ruby>Email:</ruby>
            <input type="text" id="email" name="email" required size="10"><br>
        </div>
        <div class="button">
            <button>Подтвердить</button>
        </div>

        <style>
        .RegPage {
            font-size:15px;
            margin-bottom:8px;
            font-weight:bolder;
        }
    </style>
    </body>

@code {

}